<nav>
    <div class="navbar-line-top content-line-fixed ims-navbar container-fluid w-100%">
        <div class="cd-navbar-info">
            <div class="navbar-content">
                <div class="inter-info">
                    <div class="logo-title">
                        <a href="/"><span>H</span>one<span>s</span><span>t</span>codes</a>
                    </div>
                </div>
                <div class="content-lg droup-colums">
                    <div class="droup-li-canvas">
                        <div class="droup-title">
                            <ul>
                                <li class="li-item-link"><a href="#!"><i class="fad fa-home"></i><span>Home</span></a>
                                </li>
                                <li class="li-item-link active-class"><a href="#!"><i
                                            class="fad fa-route-interstate"></i></i><span>Special section</span></a>
                                </li>
                                <li class="li-item-link"><a href="#!"><i
                                            class="far fa-wifi"></i><span>Network</span></a></li>
                                <li class="li-item-link"><a href="#!"><i
                                            class="fal fa-analytics"></i><span>Statistics</span></a>
                                </li>
                            </ul>
                            <div class="specil-menu">
                                <ul>
                                    <li>
                                        <a href="#!">What are Honestcodes?</a>
                                    </li>
                                    <li>
                                        <a href="#!">About Change it academy</a>
                                    </li>
                                    <li>
                                        <a href="#!">About the Developer</a>
                                    </li>
                                    <li>
                                        <a href="#!">Security</a>
                                    </li>
                                    <li>
                                        <a href="/auth/signin">Are you a special User?</a>
                                    </li>
                                    <li>
                                        <a href="#!">Do you need help?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="search-box">
                        <div class="search-input">
                            <div class="input-box-fk">
                                <input type="text" placeholder="Search">
                                <div class="search-icon">
                                    <button class="search-input-button"><i class="fad fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inter-info">
                    {{!-- <li-icon>
                        <i class="fad fa-bells"></i>
                    </li-icon>
                    <li-icon>
                        <i class="fad fa-envelope"></i>
                    </li-icon>
                    <div class="profil-info">
                        <div class="profil-img">
                            <img src="/images/1639314204182.jfif">
                            <div class="drop-from-top">
                                <li-drop><i class="fad fa-arrow-alt-from-top"></i></li-drop>
                            </div>
                        </div>
                    </div>
                    <div class="profil-menu">
                        <div class="menu-slide">
                            <ul>
                                <li>
                                    <a href="#!"></a>
                                </li>
                            </ul>
                        </div>
                    </div> --}}
                    <a class="btn-sign-in" href="/users/signin">Sign in</a>
                    <a class="btn-sign-up" href="/users/signup">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</nav>