<!DOCTYPE html>
<html lang="en">
{{> head}}
</head>

<body>
    {{#if userAuthen}}
    {{> navUser}}
    {{/if}}
    {{{body}}}
    {{> footer}}
    {{> script}}
    <script src="/settings.js"></script>
</body>

</html>