<div class="main-container-content">
    <div class="room-grid-component">
        <div class="content-box grid-temp-content">
            <div class="left-min-content bac-color">
                <div class="left-min-profil">
                    <div class="left-profil-img">
                        <div class="profil-img-user">
                            <div class="img-one">
                                <img src="/images/1639314204182.jfif">
                            </div>
                        </div>
                    </div>
                    <div class="profil-title-user">
                        <div class="learning-info">
                            <div class="user-name">
                                <a href="#!">
                                    <span class="u1-name">Tojimurodov</span>
                                    <span class="u2-name">Sardor</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png><img src="/React-icon/github-170-1175028.png"></icon-site-png>
                                    <span class="span-scn">Github</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png> <img src="/React-icon/telegram-3-226554.png"></icon-site-png>
                                    <span class="span-scn">Telegram</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png><img src="/React-icon/slack-logo-1889498-1597558.png">
                                    </icon-site-png>
                                    <span class="span-scn">Slack</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png><img src="/React-icon/linkedin-41-151142.webp"></icon-site-png>
                                    <span class="span-scn">LinkedIn</span>
                                </a>
                            </div>
                        </div>
                        <div class="my-learning">
                            <a href="#!">
                                <icon-site-png>
                                    <img src="/React-icon/e-learning-2274883-1893655.webp">
                                </icon-site-png>
                                <span class="span-scn">I am learning</span>
                            </a>
                        </div>
                        <div class="level-program-info">
                            <div class="span-level">
                                <icon-site-png>
                                    <img src="/React-icon/briefcase-357-386532.png">
                                </icon-site-png>
                                Level of knowledge of the best <a href="#!">programming</a> languages
                            </div>
                            <div class="my-work">
                                <a href="#!">
                                    <icon-site-png>
                                        <img src="/React-icon/portfolio-2641196-2191627.png">
                                    </icon-site-png>
                                    <span class="span-scn">See my work </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-max-content">
                <div class="top-slider bac-color">
                    <div class="slider-content-img">{{!-- --}}</div>
                </div>
                <div class="link-page bac-color">
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/coding-3257997-2720168.webp">
                            </div>
                            <div class="link-title">
                                <span>Coding</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                </div>
                <main>
                    <div class="bottom-content bac-color">
                        <div class="new-content-container">
                            <div class="content-info-name">
                                <div class="ts-profil-img">
                                    <img src="/images/1639314204182.jfif">
                                </div>
                                <div class="st-content-info">
                                    <span class="new-commit-text-info">
                                        Github nima?
                                    </span>
                                </div>
                                <div class="st-content-options">
                                    <button class="st-content-btn">
                                        <img src="/React-icon/options-31-444881.png">
                                    </button>
                                </div>
                            </div>
                            <div class="content-title-info">
                                <div class="st-msx-container">
                                    <div class="msx-img">
                                        <img src="/images/1639314204182.jfif">
                                    </div>
                                    <div class="st-user-info">
                                        <div class="m-profil-info">
                                            <h5 class="st-user-name-fol">
                                                <span class="st-user-surname">Tojimurodov</span> <span
                                                    class="st-user-name">Sardor</span>
                                            </h5>
                                            <div class="wrok-info">
                                                <div class="from-ng-info">
                                                    <span class="from-in">Uzbekistan</span>
                                                    <div class="user-work-name">
                                                        Change it Academy
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-text-info">
                                <div class="msg-big-box">
                                    <div class="save-text-commit">
                                        <button class="text-info-save">
                                            <icon-content><img src="/React-icon/save-2058061-1748011.png">
                                            </icon-content>
                                        </button>
                                    </div>
                                    <div class="msg-box">
                                        <span class="text-msg">
                                            Github bu Yirik omborxona, arxiv, fayllarni saqlash va foydalanuvchilar
                                            uchun
                                            tekin
                                            online omborxona vazifasini bajaruvchi web sayt hisoblanadi, ushbu sayt
                                            foydalanuvchilari butun dunyoda ko'p
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="new-content-container-info">
                                <div class="content-bigimg-info">
                                    <img src="/site-img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg">
                                </div>
                            </div>
                            <div class="client-info">
                                <div class="liked-commit">
                                    <liked-i>like</liked-i>
                                    <a href="#!"><span>123</span></a>
                                </div>
                                <div class="commit-i">
                                    <a href="#!"><span class="client-commit-info">1</span><span>commit</span></a>
                                </div>
                                <div class="share-box">
                                    <div class="fl-share">
                                        <div class="fl-click">
                                            <button class="fl-button">
                                                <div class="like">
                                                    <fl-icon></fl-icon>
                                                    <span>Like</span>
                                                </div>
                                            </button>
                                            <button class="fl-button">
                                                <div class="dislike">
                                                    <fl-icon></fl-icon>
                                                    <span>Dislike</span>
                                                </div>
                                            </button>
                                            <button class="fl-button">
                                                <div class="commit">
                                                    <fl-icon></fl-icon>
                                                    <span>Commit</span>
                                                </div>
                                            </button>
                                            <button class="fl-button">
                                                <div class="share">
                                                    <fl-icon></fl-icon>
                                                    <span>Share</span>
                                                </div>
                                            </button>
                                            <div class="fl-options">
                                                <button class="option-btn"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="commit-inp">
                                    <div class="fl-inp">
                                        <input type="text" placeholder="Add a commit">
                                        <button class="ts-btn1"></button>
                                        <button class="ts-btn2"></button>
                                        <button class="ts-btn3"></button>
                                    </div>
                                    <div class="send-commit">
                                        <button class="send-btn">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div class="right-min-content bac-color">
            </div>
        </div>
    </div>
</div>