<div class="main-container-content">
    <div class="room-grid-component">
        <div class="content-box grid-temp-content">
            <div class="left-min-content bac-color">
                <div class="left-min-profil">
                    <div class="left-profil-img">
                        <div class="profil-img-user"></div>
                    </div>
                    <div class="profil-title-user">
                        <div class="learning-info">
                            <div class="user-name">
                                <a href="#!">
                                    <span class="u1-name">Tojimurodov</span>
                                    <span class="u2-name">Sardor</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png><img src="/React-icon/github-170-1175028.png"></icon-site-png>
                                    <span class="span-scn">Github</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png> <img src="/React-icon/telegram-3-226554.png"></icon-site-png>
                                    <span class="span-scn">Telegram</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png><img src="/React-icon/slack-logo-1889498-1597558.png">
                                    </icon-site-png>
                                    <span class="span-scn">Slack</span>
                                </a>
                            </div>
                            <div class="link-site">
                                <a href="#!">
                                    <icon-site-png><img src="/React-icon/linkedin-41-151142.webp"></icon-site-png>
                                    <span class="span-scn">LinkedIn</span>
                                </a>
                            </div>
                        </div>
                        <div class="my-learning">
                            <a href="#!">
                                <icon-site-png>
                                    <img src="/React-icon/e-learning-2274883-1893655.webp">
                                </icon-site-png>
                                <span class="span-scn">I am learning</span>
                            </a>
                        </div>
                        <div class="level-program-info">
                            <div class="span-level">
                                Level of knowledge of the best programming languages
                            </div>
                            <div class="my-work">
                                <a href="#!"><span class="span-scn">See my work </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-max-content">
                <div class="top-slider bac-color">
                    <div class="slider-content-img">{{!-- --}}</div>
                </div>
                <div class="link-page bac-color">
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/coding-3257997-2720168.webp">
                            </div>
                            <div class="link-title">
                                <span>Coding</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                    <div class="link-context">
                        <button class="click-button btn-none">
                            <div class="link-icon">
                                <img src="/React-icon/photos.png">
                            </div>
                            <div class="link-title">
                                <span>Photo</span>
                            </div>
                        </button>
                    </div>
                </div>
                <main>
                    <div class="bottom-content bac-color">
                    </div>
                </main>
            </div>
            <div class="right-min-content bac-color">
            </div>
        </div>
    </div>
</div>