<div class="main-container-content">
    <div class="room-grid-component">
        <div class="content-box grid-temp-content">
            <div class="left-min-content bac-color">
            </div>
            <div class="center-max-content">
                <div class="top-slider bac-color">
                </div>
                <main>
                    <div class="bottom-content bac-color">
                    </div>
                </main>
            </div>
            <div class="right-min-content bac-color">
            </div>
        </div>
    </div>
</div>