<div class="container-signin">
    <div class="sign-box">
        <span class="title-site">Sign in to Honest</span>
        <form action="/users/signin" method="POST">
            <label for="">Nickname</label>
            <input type="text" name="nickname" required>
            <label for="">User password</label>
            <input type="password" name="password">
            <div class="create-signup">
                <a class="forgot-title" href="#!">Forgot password?</a>
            </div>
            <div class="btn-box">
                <button> <a href="/">Go back</a></button>
                <button class="btn-sign" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>