<div class="container-signin">
    <div class="sign-box">
        <span class="title-site">Hello there!</span>
        <span class="title-site">Sign in to Honest</span>
        <form action="/user/signup" method="POST">
            <label for="">User name</label>
            <input type="text" name="name" required>
            <label for="">Nickname</label>
            <input type="text" name="nickname" required>
            <label for="">User password</label>
            <input type="password" name="password" required>
            <div class="btn-box">
                <a href="/">Go back</a>
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>
</div>