/*
 // Display grid template //
*/

:root {
  --profil-image: url(/site-img/—Pngtree—corporate\ company\ promotion\ ppt\ background_1020963.jpg);
  --max-center-slide: url(/site-img/—Pngtree—corporate\ company\ promotion\ ppt\ background_1020963.jpg);
}

body {
  background: #fbf0ed;
}

.grid-temp-content {
  grid-template-columns: minmax(0, 3fr) minmax(0, 7fr) minmax(207px, 3fr);
  column-gap: var(--scaffold-layout-gutter);
  display: grid;
  grid-area: content;
  grid-template-rows: auto;
  row-gap: var(--scaffold-layout-gutter);
  max-width: 1285px;
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
  padding-left: var(--bs-gutter-x, 0.75rem) !important;
  padding-top: 23px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.main-container-content {
  --scaffold-layout-gutter: 1.9rem;
}

.room-grid-component {
  max-width: unset;
  padding-top: var(--bs-gutter-y, 4.5rem) !important;
}

.left-min-profil {
  border-top-left-radius: 23px !important;
  border-top-right-radius: 23px !important;
}

/*****************************************************************/

/*  Options height */
.left-min-content {
  height: 500px;
  border-top-left-radius: 23px !important;
  border-top-right-radius: 23px !important;
}

.top-slider {
  max-height: max-content;
  margin-bottom: 13px !important;
}

.bottom-content {
  height: 1111px;
  overflow: hidden;
  overflow-y: scroll;
  border-top: 3px solid #5f8fb1;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

::-webkit-scrollbar {
  display: none;
}

.right-min-content {
  height: 600px;
}

/*****************************/

.bac-color {
  background: #f7f7f7;
  border: 1px solid #d7d6d6;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0.7px #f1f1f1;
}

.btn-none {
  border: none;
  background: none;
  height: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  padding-right: 7px !important;
  transition: 0.3s !important;
  padding: 0 11px 0 3px !important;
}

.btn-none:hover {
  background-color: rgba(255, 255, 255, 0.755);
  transition: 0.3s !important;
}

/*****************************/

.left-profil-img {
  height: 100px;
  background-image: var(--profil-image);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 23px !important;
  border-top-right-radius: 23px !important;
}

.slider-content-img {
  width: 100%;
  height: 233px;
  background-image: var(--max-center-slide);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 3px solid #5f8fb1;
}

.link-page {
  height: 45px;
  margin-bottom: 13px !important;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.link-page button .link-context {
  height: 100%;
}

.link-page button .link-icon {
  height: 100%;
  padding: 9px !important;
}

.link-page button .link-icon img {
  height: 100%;
}

.link-context {
  height: 100%;
  max-width: max-content;
}

.link-context .link-title span {
  font-size: 15px;
}

.learning-info .user-name {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  background: #bfccd5;
}

.learning-info {
  padding: 3px 3px !important;
  border-bottom: 1px solid #ccc;
}

.learning-info .user-name a {
  font-size: 15px;
  color: #383838;
  font-weight: 600;
}

icon-site-png {
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-site icon-site-png img {
  width: 100%;
  height: 100%;
}

.link-site {
  margin: 2.3px 0 !important;
  padding: 0 4.7px !important;
  transition: 0.3s;
}

.link-site a {
  display: flex;
  align-items: center;
  padding: 3px 0 !important;
}

.span-scn {
  margin-left: 9px !important;
  color: #383838 !important;
  font-size: 14.1px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.my-learning a icon-site-png img {
  width: 100%;
  padding-top: 3px !important;
}

.my-learning {
  margin: 3px 0 !important;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
}

.my-learning a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px !important;
}

.my-learning a:hover {
  background: #c6daf7;
  transition: 0.3s;
}

.my-learning a span {
  margin-left: 9px !important;
  font-size: 13px;
}

.span-level {
  line-height: 13px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 9px !important;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.my-work a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px !important;
  border-bottom: 1px solid #ccc;
}

.span-level icon-site-png {
  width: 45px;
  padding-right: 9px !important;
}

.span-level icon-site-png img {
  width: 100%;
}

.span-level a {
  display: contents;
}

.span-level:hover {
  background: #c6daf7;
  transition: 0.3s;
}

.link-site:hover {
  background: #c6daf7;
  transition: 0.3s;
}

.my-work a icon-site-png {
  width: 27px;
}

.my-work a icon-site-png img {
  width: 100%;
}

.my-work {
  background: #5f8fb1;
}

.my-work a .span-scn {
  color: rgb(255 208 103) !important;
  text-decoration: underline !important;
}

.profil-img-user {
  background: #5f8fb1;
  display: flex;
  align-items: center;
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
  transition: 0.5s;
  border-bottom: 3px solid #00538f;
}

.profil-img-user .img-one img {
  padding: 2.3px !important;
  width: 59px;
  height: 59px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border-top-left-radius: 23px;
}
