/* 
/// Foydalanuvchi shaxsiy sahifasi --------->
                               ------------->
+++++++++++++++++++++++++++++++++++++++++++++
*/
.user-left-min-content {
  height: 500px;
  margin-right: 15px !important;
}

icon-content {
  display: inline-block !important;
}

.user-right-min-content {
  margin-left: 15px !important;
}

.user-grid-temp-content {
  grid-template-columns: minmax(0, 2.5fr) minmax(0, 1fr) minmax(0px, 0fr);
  display: grid;
  grid-area: content;
  grid-template-rows: auto;
  row-gap: var(--scaffold-layout-gutter);
  max-width: 1133px;
  padding-right: var(--bs-gutter-x, 0.75rem) !important;
  padding-left: var(--bs-gutter-x, 0.75rem) !important;
  padding-top: 23px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.profil-menu-content .user-profil-slide {
  width: 1108px;
  height: 216px;
  background: #ccc;
  border-radius: 5px;
  margin: auto !important;
  background-image: var(--max-center-slide);
  border: 1px solid #c4c4c4;
}

.profil-home-page {
  display: flex;
  align-items: center;
  padding: 5px 9px !important;
}

.user-img-prf-box {
  margin: 9px 9px !important;
}

.context-prf-user {
  margin: 5px 9px !important;
  padding: 5px 7px !important;
  line-height: 25px;
  width: 100%;
}

.context-prf-user .user-name-prf {
  color: #454545;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.context-prf-user .user-direction-prf {
  color: #4a4a4a;
  font-size: 19px;
  font-weight: 500;
  display: block;
}

.context-prf-user div span {
  display: block;
  font-size: 13px;
  letter-spacing: 0.7px;
  color: #565656;
}

.profil-home-page img {
  width: 145px;
  border-radius: 50%;
  padding: 9px !important;
  background: #ebebeb;
}

.profil-home-page {
  border-bottom: 1px solid #bebebe;
}

.user-title-box {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #bebebe;
}

.user-title-box .icon-user-prf {
  position: absolute;
  left: 9px;
  top: 3px;
}

.user-title-box .icon-user-prf img {
  width: 31px;
}

.title-prf-info {
  margin-left: 47px !important;
  margin-top: 4.3px !important;
  padding: 0 23px 0 6px !important;
  margin-bottom: 5px !important;
}

.title-prf-info .title-prf {
  word-break: break-word;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.title-prf-info hr {
  margin: 9px 0 !important;
}

.user-direction-nick {
  font-size: 13px;
  margin-left: 1px !important;
  font-family: "Roboto", sans-serif;
}

.user-info-st {
  margin-bottom: 7px !important;
  line-height: 17px;
}

.location-info-user {
  font-family: "Roboto", sans-serif;
}