<div class="main-container-content">
    <div class="room-grid-component">
        <div class="profil-menu-content">
            <div class="user-profil-slide"></div>
            <div class="content-box user-grid-temp-content settings-grid">
                <div class="user-left-min-content bac-color setting-user">
                    <span class="account-settings">Accout settings</span>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_1">Profile</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_2">Settings 1</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_3">Settings 1</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_4">Settings 1</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_5">Settings 1</a>
                    </div>
                </div>
                <div class="user-right-min-content bac-color setting-user">
                    <div class="list-settings-menu" id="set_id_1">
                        <div class="subhead">
                            <h2>Public profile</h2>
                        </div>
                        <div class="clearfix gutter">
                            <div class="grid-gutter-left">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_name" class="user_name_label">Name</label></dt>
                                            <dd><input type="text" name="user[profil_name]" id="user_profil_name"
                                                    class="inp-add-styles" value="">
                                                <div class="note">Your name may appear around
                                                    <strong>Honestcodes</strong> where you
                                                    contribute or are mentioned. You can remove it at any time.
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_bio" class="user_profil_bio">Bio</label></dt>
                                            <dd>
                                                <textarea
                                                    class="form-control user_profil_bio-filed length-limited-input"
                                                    name="user[profil_bio]" id="user_profil_bio" cols="17" rows="5"
                                                    placeholder="Tell us a little bit about yourself"></textarea>
                                                <div class="note">
                                                    Write here to link to other users and organizations
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_blog" class="user_profil_blog">
                                                    <font>URL</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_blog inp-add-styles" value=""
                                                    id="user_profil_blog" name="user[profil_blog]">
                                                <div class="note">
                                                    You can specify a URL
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_company" class="user_profil_company">
                                                    <font>Company</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_company inp-add-styles" value=""
                                                    id="user_profil_company" name="user[profil_company]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_location" class="user_profil_location">
                                                    <font>Location</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_location inp-add-styles" value=""
                                                    id="user_profil_location" name="user[profil_location]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <p class="note bac-min-color">
                                                All of the fields on this page are optional and can be deleted at any
                                                time, and
                                                by filling them out, you're giving us consent to share this data
                                                wherever your
                                                user profile appears
                                            </p>
                                            <div class="note">
                                                <button class="btn-form-submit">Update profile</button>
                                            </div>
                                        </dl>
                                    </div>
                                </form>
                            </div>
                            <div class="grid-gutter-right">
                                <div class="gutter-content-length">
                                    <dl>
                                        <form action="">
                                            <div class="form-group-content">
                                                <dl>
                                                    <dt><label class="form-min-labal">Profile picture</label></dt>
                                                    <dd class="avatar-upload-container"><input type="file"
                                                            name="user[profil_name]" id="avatar_upload"
                                                            class="manual-file-chooser" hidden>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </form>
                                        <div class="avatar-upload">
                                            <details class="dropdown details-reset details-overlay">
                                                <summary aria-haspopup="menu" role="button">
                                                    <img src="/images/1639314204182.jfif" alt="" width="150"
                                                        height="150">
                                                    <div class="avatar-edit-btn">
                                                        <label for="npm-file-blog" class="npm-file-blog">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="12"
                                                                height="12" viewBox="0 0 72 72">
                                                                <path
                                                                    d="M67.982 14.221a10.606 10.606 0 0 0-3.049-6.792l-.436-.435c-1.881-1.882-4.354-2.918-6.961-2.918-2.465 0-4.764.941-6.475 2.652L10.94 46.85c-3.097 3.096-6.277 15.676-6.883 18.166-.165.68.035 1.395.529 1.889l.435.434a1.993 1.993 0 0 0 1.844.539c2.541-.559 15.373-3.506 18.484-6.617L65.474 21.14c1.776-1.776 2.667-4.233 2.508-6.919zm-18.074 4.762a.997.997 0 0 0 1.414 0l3.016-3.016 1.896 1.895-34.987 34.987-1.895-1.895 29.076-29.075a.999.999 0 1 0-1.414-1.414L17.938 49.54l-2.016-2.017 34.986-34.985 2.016 2.015-3.016 3.016a1 1 0 0 0 0 1.414zM24.675 56.277l-2.015-2.015 34.987-34.986 2.016 2.015-34.988 34.986zM10.28 57.71l4.087 4.088a123.412 123.412 0 0 1-5.755 1.565 123.02 123.02 0 0 1 1.668-5.653zm6.24 3.413l-5.529-5.53c.991-2.821 1.994-5.133 2.777-5.915l.74-.74 2.722 2.722.001.002.002.001 6.028 6.029-.74.74c-.779.779-3.128 1.748-6.001 2.691zM62.645 18.31l-1.568 1.568-6.03-6.03-.001-.001-.002-.001-2.721-2.721 1.568-1.568c.955-.955 2.25-1.48 3.646-1.48 1.539 0 3.007.62 4.133 1.746l.435.435a6.55 6.55 0 0 1 1.885 4.199c.089 1.527-.388 2.896-1.345 3.853z" />
                                                            </svg>
                                                            Edit
                                                        </label>
                                                        <input type="file" class="form-avatar-blog" id="npm-file-blog"
                                                            hidden>
                                                    </div>
                                                </summary>
                                                {{!-- <details-menu class="dropdown-menu-blog" role="menu">Hello
                                                </details-menu> --}}
                                            </details>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-settings-menu" id="set_id_2">
                        <div class="subhead">
                            <h2>Public profile 2</h2>
                        </div>
                        <div class="clearfix gutter">
                            <div class="grid-gutter-left">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_name" class="user_name_label">Name</label></dt>
                                            <dd><input type="text" name="user[profil_name]" id="user_profil_name"
                                                    class="inp-add-styles">
                                                <div class="note">Your name may appear around
                                                    <strong>Honestcodes</strong> where you
                                                    contribute or are mentioned. You can remove it at any time.
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_bio" class="user_profil_bio">Bio</label></dt>
                                            <dd>
                                                <textarea
                                                    class="form-control user_profil_bio-filed length-limited-input"
                                                    name="user[profil_bio]" id="user_profil_bio" cols="17" rows="5"
                                                    placeholder="Tell us a little bit about yourself"></textarea>
                                                <div class="note">
                                                    Write here to link to other users and organizations
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_blog" class="user_profil_blog">
                                                    <font>URL</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_blog inp-add-styles" value=""
                                                    id="user_profil_blog" name="user[profil_blog]">
                                                <div class="note">
                                                    You can specify a URL
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_company" class="user_profil_company">
                                                    <font>Company</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_company inp-add-styles" value=""
                                                    id="user_profil_company" name="user[profil_company]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_location" class="user_profil_location">
                                                    <font>Location</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_location inp-add-styles" value=""
                                                    id="user_profil_location" name="user[profil_location]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <p class="note">
                                                All of the fields on this page are optional and can be deleted at any
                                                time, and
                                                by filling them out, you're giving us consent to share this data
                                                wherever your
                                                user profile appears
                                            </p>
                                            <div class="note">
                                                <button class="btn-form-submit">Update profile</button>
                                            </div>
                                        </dl>
                                    </div>
                                </form>
                            </div>
                            <div class="grid-gutter-right">
                                <div class="gutter-content-length">
                                    <dl>
                                        <form action="">
                                            <div class="form-group-content">
                                                <dl>
                                                    <dt><label class="form-min-labal">Profile picture</label></dt>
                                                    <dd class="avatar-upload-container"><input type="file"
                                                            name="user[profil_name]" id="avatar_upload"
                                                            class="manual-file-chooser" hidden>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </form>
                                        <div class="avatar-upload">
                                            <details class="dropdown details-reset details-overlay">
                                                <summary aria-haspopup="menu" role="button">
                                                    <img src="/images/1639314204182.jfif" alt="" width="150"
                                                        height="150">
                                                    <div class="avatar-edit-btn">
                                                        <span>Edit</span>
                                                    </div>
                                                </summary>
                                            </details>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-settings-menu" id="set_id_3">
                        <div class="subhead">
                            <h2>Public profile 3</h2>
                        </div>
                        <div class="clearfix gutter">
                            <div class="grid-gutter-left">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_name" class="user_name_label">Name</label></dt>
                                            <dd><input type="text" name="user[profil_name]" id="user_profil_name"
                                                    class="inp-add-styles">
                                                <div class="note">Your name may appear around
                                                    <strong>Honestcodes</strong> where you
                                                    contribute or are mentioned. You can remove it at any time.
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_bio" class="user_profil_bio">Bio</label></dt>
                                            <dd>
                                                <textarea
                                                    class="form-control user_profil_bio-filed length-limited-input"
                                                    name="user[profil_bio]" id="user_profil_bio" cols="17" rows="5"
                                                    placeholder="Tell us a little bit about yourself"></textarea>
                                                <div class="note">
                                                    Write here to link to other users and organizations
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_blog" class="user_profil_blog">
                                                    <font>URL</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_blog inp-add-styles" value=""
                                                    id="user_profil_blog" name="user[profil_blog]">
                                                <div class="note">
                                                    You can specify a URL
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_company" class="user_profil_company">
                                                    <font>Company</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_company inp-add-styles" value=""
                                                    id="user_profil_company" name="user[profil_company]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_location" class="user_profil_location">
                                                    <font>Location</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_location inp-add-styles" value=""
                                                    id="user_profil_location" name="user[profil_location]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <p class="note">
                                                All of the fields on this page are optional and can be deleted at any
                                                time, and
                                                by filling them out, you're giving us consent to share this data
                                                wherever your
                                                user profile appears
                                            </p>
                                            <div class="note">
                                                <button class="btn-form-submit">Update profile</button>
                                            </div>
                                        </dl>
                                    </div>
                                </form>
                            </div>
                            <div class="grid-gutter-right">
                                <div class="gutter-content-length">
                                    <dl>
                                        <form action="">
                                            <div class="form-group-content">
                                                <dl>
                                                    <dt><label class="form-min-labal">Profile picture</label></dt>
                                                    <dd class="avatar-upload-container"><input type="file"
                                                            name="user[profil_name]" id="avatar_upload"
                                                            class="manual-file-chooser" hidden>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </form>
                                        <div class="avatar-upload">
                                            <details class="dropdown details-reset details-overlay">
                                                <summary aria-haspopup="menu" role="button">
                                                    <img src="/images/1639314204182.jfif" alt="" width="150"
                                                        height="150">
                                                    <div class="avatar-edit-btn">
                                                        <span>Edit</span>
                                                    </div>
                                                </summary>
                                            </details>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-settings-menu" id="set_id_4">
                        <div class="subhead">
                            <h2>Public profile 4</h2>
                        </div>
                        <div class="clearfix gutter">
                            <div class="grid-gutter-left">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_name" class="user_name_label">Name</label></dt>
                                            <dd><input type="text" name="user[profil_name]" id="user_profil_name"
                                                    class="inp-add-styles">
                                                <div class="note">Your name may appear around
                                                    <strong>Honestcodes</strong> where you
                                                    contribute or are mentioned. You can remove it at any time.
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_bio" class="user_profil_bio">Bio</label></dt>
                                            <dd>
                                                <textarea
                                                    class="form-control user_profil_bio-filed length-limited-input"
                                                    name="user[profil_bio]" id="user_profil_bio" cols="17" rows="5"
                                                    placeholder="Tell us a little bit about yourself"></textarea>
                                                <div class="note">
                                                    Write here to link to other users and organizations
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_blog" class="user_profil_blog">
                                                    <font>URL</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_blog inp-add-styles" value=""
                                                    id="user_profil_blog" name="user[profil_blog]">
                                                <div class="note">
                                                    You can specify a URL
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_company" class="user_profil_company">
                                                    <font>Company</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_company inp-add-styles" value=""
                                                    id="user_profil_company" name="user[profil_company]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_location" class="user_profil_location">
                                                    <font>Location</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_location inp-add-styles" value=""
                                                    id="user_profil_location" name="user[profil_location]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <p class="note">
                                                All of the fields on this page are optional and can be deleted at any
                                                time, and
                                                by filling them out, you're giving us consent to share this data
                                                wherever your
                                                user profile appears
                                            </p>
                                            <div class="note">
                                                <button class="btn-form-submit">Update profile</button>
                                            </div>
                                        </dl>
                                    </div>
                                </form>
                            </div>
                            <div class="grid-gutter-right">
                                <div class="gutter-content-length">
                                    <dl>
                                        <form action="">
                                            <div class="form-group-content">
                                                <dl>
                                                    <dt><label class="form-min-labal">Profile picture</label></dt>
                                                    <dd class="avatar-upload-container"><input type="file"
                                                            name="user[profil_name]" id="avatar_upload"
                                                            class="manual-file-chooser" hidden>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </form>
                                        <div class="avatar-upload">
                                            <details class="dropdown details-reset details-overlay">
                                                <summary aria-haspopup="menu" role="button">
                                                    <img src="/images/1639314204182.jfif" alt="" width="150"
                                                        height="150">
                                                    <div class="avatar-edit-btn">
                                                        <span>Edit</span>
                                                    </div>
                                                </summary>
                                            </details>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-settings-menu" id="set_id_5">
                        <div class="subhead">
                            <h2>Public profile 5</h2>
                        </div>
                        <div class="clearfix gutter">
                            <div class="grid-gutter-left">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_name" class="user_name_label">Name</label></dt>
                                            <dd><input type="text" name="user[profil_name]" id="user_profil_name"
                                                    class="inp-add-styles">
                                                <div class="note">Your name may appear around
                                                    <strong>Honestcodes</strong> where you
                                                    contribute or are mentioned. You can remove it at any time.
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_bio" class="user_profil_bio">Bio</label></dt>
                                            <dd>
                                                <textarea
                                                    class="form-control user_profil_bio-filed length-limited-input"
                                                    name="user[profil_bio]" id="user_profil_bio" cols="17" rows="5"
                                                    placeholder="Tell us a little bit about yourself"></textarea>
                                                <div class="note">
                                                    Write here to link to other users and organizations
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_blog" class="user_profil_blog">
                                                    <font>URL</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_blog inp-add-styles" value=""
                                                    id="user_profil_blog" name="user[profil_blog]">
                                                <div class="note">
                                                    You can specify a URL
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_company" class="user_profil_company">
                                                    <font>Company</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_company inp-add-styles" value=""
                                                    id="user_profil_company" name="user[profil_company]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_location" class="user_profil_location">
                                                    <font>Location</font>
                                                </label></dt>
                                            <dd>
                                                <input type="text" class="user_profil_location inp-add-styles" value=""
                                                    id="user_profil_location" name="user[profil_location]">
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="form-group-content">
                                        <dl>
                                            <p class="note">
                                                All of the fields on this page are optional and can be deleted at any
                                                time, and
                                                by filling them out, you're giving us consent to share this data
                                                wherever your
                                                user profile appears
                                            </p>
                                            <div class="note">
                                                <button class="btn-form-submit">Update profile</button>
                                            </div>
                                        </dl>
                                    </div>
                                </form>
                            </div>
                            <div class="grid-gutter-right">
                                <div class="gutter-content-length">
                                    <dl>
                                        <form action="">
                                            <div class="form-group-content">
                                                <dl>
                                                    <dt><label class="form-min-labal">Profile picture</label></dt>
                                                    <dd class="avatar-upload-container"><input type="file"
                                                            name="user[profil_name]" id="avatar_upload"
                                                            class="manual-file-chooser" hidden>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </form>
                                        <div class="avatar-upload">
                                            <details class="dropdown details-reset details-overlay">
                                                <summary aria-haspopup="menu" role="button">
                                                    <img src="/images/1639314204182.jfif" alt="" width="150"
                                                        height="150">
                                                    <div class="avatar-edit-btn">
                                                        <span>Edit</span>
                                                    </div>
                                                </summary>
                                            </details>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>