<div class="main-container-content">
    <div class="room-grid-component">
        <div class="profil-menu-content">
            <div class="user-profil-slide"></div>
            <div class="content-box user-grid-temp-content settings-grid">
                <div class="user-left-min-content bac-color setting-user">
                    <span class="account-settings">Accout settings</span>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_1">Profile</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_2">Settings 1</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_3">Settings 1</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_4">Settings 1</a>
                    </div>
                    <div class="content-settings">
                        <a href="#!" class="settings-list" set-number-id="#set_id_5">Settings 1</a>
                    </div>
                </div>
                <div class="user-right-min-content bac-color setting-user">
                    <div class="list-settings-menu" id="set_id_1">
                        <div class="subhead">
                            <h2>Public profile</h2>
                        </div>
                        <div class="clearfix gutter">
                            <div class="grid-gutter-left">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label for="user_profil_name" class="user_name_label">Name</label></dt>
                                            <dd><input type="text" name="user[profil_name]" id="user_profil_name">
                                                <div class="note">Your name may appear around
                                                    <strong>Honestcodes</strong> where you
                                                    contribute or are mentioned. You can remove it at any time.</div>
                                            </dd>
                                        </dl>
                                    </div>
                                </form>
                            </div>
                            <div class="grid-gutter-right">
                                <form action="">
                                    <div class="form-group-content">
                                        <dl>
                                            <dt><label class="form-min-labal">Profile picture</label></dt>
                                            <dd class="avatar-upload-container"><input type="file"
                                                    name="user[profil_name]" id="avatar_upload"
                                                    class="manual-file-chooser" hidden>
                                            </dd>
                                        </dl>
                                    </div>
                                </form>
                                <div class="avatar-upload">
                                    <details class="dropdown details-reset details-overlay">
                                        <summary aria-haspopup="menu" role="button">
                                            <img src="/images/1639314204182.jfif" alt="" width="150" height="150">
                                            <div class="avatar-edit-btn">
                                                <span>Edit</span>
                                            </div>
                                        </summary>
                                    </details>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-settings-menu" id="set_id_2">Hello!Settings 2</div>
                    <div class="list-settings-menu" id="set_id_3">Hello!Settings 3</div>
                    <div class="list-settings-menu" id="set_id_4">Hello!Settings 4</div>
                    <div class="list-settings-menu" id="set_id_5">Hello!Settings 5</div>
                </div>
            </div>
        </div>
    </div>
</div>