<div class="main-container-content">
    <div class="room-grid-component">
        <div class="profil-menu-content">
            <div class="user-profil-slide"></div>
            <div class="content-box user-grid-temp-content">
                <div class="user-left-min-content bac-color">
                    <div class="user-left-min-profil">
                        <div class="profil-home-page">
                            {{#each users}}
                            <div class="user-img-prf-box">
                                <div class="user-img-prf">
                                    <img src="/images/1639314204182.jfif" alt="">
                                    <div></div>
                                </div>
                            </div>
                            <div class="context-prf-user">
                                <h2 class="user-name-prf">{{name}}</h2>
                                <p class="user-direction-prf">Pega developer</p>
                                <div><span>Uzbekistan,Tashkent</span></div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="user-title-box">
                            <icon-content class="icon-user-prf">
                                <img src="/React-icon/save-2058061-1748011.png">
                            </icon-content>
                            <div class="title-prf-info">
                                <p class="title-prf">
                                    A prospective programmer with experience working with HTML,
                                    Handlebars,Pug,nodeJS,PS,Github,CSS,Java scripts,mongoDB,json-server,
                                    getBootstrap,Crud,JQuery,Api:)
                                </p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-right-min-content bac-color">
                </div>
            </div>
        </div>
    </div>
</div>