<div class="main-container-content">
    <div class="room-grid-component">
        <div class="content-box user-grid-temp-content">
            <div class="user-left-min-content bac-color">
                <div class="user-left-min-profil">
                </div>
            </div>
            <div class="user-right-min-content bac-color">
            </div>
        </div>
    </div>
</div>